.body {
    font-family: 'Montserrat', sans-serif;
    background: url(./Group.jpg) no-repeat;
    background-position: top;
    display: flex;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.row {
    margin: 0 -15px;
    padding-bottom: 15px;
}

.row+.row1 {
    padding-top: 53px;
}

.col {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.col-3 {
    width: 25%;
}

.col-12 {
    width: 100%;
    text-align: center;
}

.clear {
    clear: both;
    height: 1px;
}

.h1 {
    text-transform: uppercase;
    color: #27b4b6;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: -7px;
}

.h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: -0.3px;
    padding-top: 10px;
}

.h3_1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: -0.3px;
}

.h3_2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: -0.3px;
    padding-top: 19px;
}

.h3_3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: -0.3px;
    padding-top: 15px;
}

.h5 {
    font-family: 'Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-top: -6px;
    letter-spacing: -0.4px;
    color: #999999;
}

.h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 4px;
    padding-top: 104px;
    padding-left: 20px;
    color: #898f99;
}

.p {
    font-family: 'Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 2px;
}

.box {
    width: 235px;
    height: 420px;
    
    text-align: center;
    color: #1b1b1b;
    cursor: pointer;
}

.box:hover,
.box:focus {
    color: white;
    background-color: #0ec8cb;
}

.box:active {
    background-color: rgb(21, 131, 129);
}

.img {
    text-align: center;
    padding-top: 40px;
    display: inline-block;
}

.img1 {
    text-align: center;
    padding-top: 48px;
    display: inline-block;
    vertical-align: bottom;
}

.img2 {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 14px;
    display: inline-block;
}